
<div>
    <h1>Loguin: </h1>

    <form id="loginForm" >

        <label>Email</label>
        <input name="email">

        <label>Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

</div>

<p>You can also enter by:</p>
<a href="/api/sessions/github"><button>Github</button></a>
<p>forget your password? <a href="/restorePassword">Reset it Here!</a></p>

<script src="/js/login.js"></script>