<div>

    <h1>Signup</h1>

    <form id="registerForm" >

        <label>First Name</label>
        <input name="first_name">

        <label>Last Name</label>
        <input name="last_name">

        <label>Email</label>
        <input name="email">

        <label>Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>

</div>

<script src="/js/register.js"></script>