<div>
    <h1>Reset your Password</h1>

    <form id="restoreForm">

        <label>email to Reset</label>
        <input name="email">

        <label>New Password</label>
        <input name="password">
        
        <input type="submit">
    </form>
</div>

<script src="/js/restorePassword.js"></script>